{% extends "gestion_stock/base.html" %}
{% load bootstrap3 %}
{% block title %} Modificar Producto{% endblock %}

{% block content %}
<h1> Modificar Producto</h1> {# Display a form #}
<form method="post" class="form" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
<form action="/stock">
  <button type="submit" class="btn btn-danger">Atras</button>
</form>
{% endbuttons %}
{% endblock %}
