{% extends "gestion_clientes/base.html" %}

{% load bootstrap3 %}
{% block title %} Alta cliente  {% endblock %}

{% block content %}
<h1>Alta Cliente</h1>
{# Display a form #}
<form method="post" class="form" enctype="multipart/form-data">
  {% csrf_token%}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"> Dar de alta </button>
  </form>
  <form action="/clientes">
    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-chevron-left"> Atras</button>
    </form>
    {% endbuttons %}

    {% endblock %}
